body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
/*
----- HEADER
*/
.logo {
  height: 50px;

  margin-top: 20px;
  margin-bottom: 20px;
}
/*
----- MAIN
*/
.photograph-header {
  background-color: #fafafa;
  height: 250px;
  width: 100%;
  margin: auto;
  display: flex;
}
.photographInfo {
  width: 35%;
  margin-left: 40px;
  padding: 0;
}
.photographInfo h2 {
  margin: 0;
  padding-top: 45px;
  font-size: 55px;
  color: #d3573c;
  font-weight: 100;
}
.photographInfo :nth-child(2) {
  margin: 0;
  padding-top: 5px;
  font-size: 30px;
  color: #901c1c;
}
.photographInfo :nth-child(3) {
  margin: 0;
  padding-top: 10px;
  font-size: 20px;
  color: black;
}
.contact_me_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: 180px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 90px;
  margin-left: 55px;
}
.photograph-header img {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
  margin-top: 25px;
  margin-left: 520px;
}
/*
----- FILTER
*/
.filter-container {
  font-weight: bold;
  font-size: larger;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.filter-container p {
  margin-right: 25px;
}
.filter-container select {
  background-color: #901c1c;
  color: #fafafa;
  font-weight: bold;
  font-size: large;
  border: none;
}
.filter-container select option {
  background-color: #901c1c;
  color: #fafafa;
  font-weight: bold;
  font-size: large;
  padding: 12px;
  border-bottom: #fafafa 2px;
}

/*
----- CODE DES IMAGES
*/
.images-container {
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
article {
  width: 30%;
}
.images-container img,
.images-container video {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.all_container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
}
.text_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  color: #901c1c;
}
.text_container :nth-child(2) {
  font-weight: bold;
}
.text_container p {
  text-align: end;
}
.likes {
  display: inline;
}
.likeButton {
  width: 0;
  cursor: pointer;
}
.text_container h3 {
  text-align: start;
}
/*
----- COUNTER OF LIKES AND PRICE
*/
#likeAndPrice {
  position: fixed;
  top: 95%;
  left: 70%;
  background-color: #d3573c;
  display: flex;
  border-radius: 5px;
  z-index: 50;
  z-index: 2;
}
#likeAndPrice p {
  margin-left: 12px;
  margin-right: 12px;
  font-size: 20px;
  position: sticky;
}
#spaceDiv {
  width: 25px;
}
/*
----- MODAL
*/
#modal_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: #ffffff;
}
#contact_modal {
  display: none;
  padding-top: 55px;
  padding-bottom: 100%;
  z-index: 5;
}
#contact_modal_header div {
  display: flex;
  flex-wrap: wrap;
}
.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 590px;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal_header {
  justify-content: space-between;
}

.modal header img {
  cursor: pointer;
  position: relative;
  bottom: 50px;
  left: 60px;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  width: 80%;
  margin: 0;
}
.modal input {
  width: 97%;
  font-size: 25px;
  padding: 10px;
}
.modal :nth-child(8) {
  height: 220px;
}
form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
#btn_envoyer {
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: 180px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
/*
----- SELECTION
*/

.selected {
  box-shadow: 0px 0px 20px #07ff07;
  text-shadow: 0px 0px 20px #07ff07;
}
/*
----- LightBox
*/

#lightBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3000px;
  background-color: #ff2c07;
  z-index: 6;
}
#lightBox #closeLightBox {
  position: relative;
  left: 65%;
  top: 100px;
  width: 50px;
  height: 50px;
  fill: #901c1c;
  stroke: #901c1c;
  color: #901c1c;
}

#arrowsAndImages {
  margin-top: 120px;
  background-color: #07ffff;
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
#arrowsAndImages #arrowRight,
#arrowsAndImages #arrowLeft {
  font-size: 90px;
  width: 33%;
  text-align: center;
}
#imageOnLightBox {
  width: 400px;
  height: 400px;
  object-fit: cover;
  transform: scale(1.5);
}
#lightBox h3 {
  width: 50%;
  margin-left: auto;
  margin-top: 120px;
}
